<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop3 - Bienvenido')"></head>
<body>
<div class='container'>
    <div th:replace="fragments/header.html :: header(option='Distribuidoras')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
        <div class="page-header text-center">
            <h2 th:text="${distribuidora.getIddistribuidora() == 0 ? 'Nueva Distribuidora' : 'Editar Distribuidora'}"></h2>
        </div>
        <div class="container-fluid">
                <form method="POST" th:object="${distribuidora}" th:action="@{/distribuidoras/guardar}" class="row g-3" >

                    <input th:field="*{iddistribuidora}" hidden>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input th:field="*{nombre}" type="text" class="form-control" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}">
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input th:field="*{descripcion}" type="text" class="form-control" th:classappend="${#fields.hasErrors('descripcion')?'is-invalid':''}">
                        <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                    </div>
                    <div class="form-group">
                        <label>URL Web</label>
                        <input th:field="*{web}" type="text" class="form-control" th:classappend="${#fields.hasErrors('web')?'is-invalid':''}">
                        <div class="text-danger" th:if="${#fields.hasErrors('web')}" th:errors="*{web}"></div>
                    </div>
                    <div class="form-group">
                        <label>Fundación</label>
                        <input th:field="*{fundacion}" type="text" class="form-control" th:classappend="${#fields.hasErrors('fundacion')?'is-invalid':''}">
                        <div class="text-danger" th:if="${#fields.hasErrors('fundacion')}" th:errors="*{fundacion}"></div>
                    </div>
                    <div class="form-group">
                        <label>Sede</label>
                        <select th:field="*{pais}" class="form-select" th:classappend="${#fields.hasErrors('pais')?'is-invalid':''}">
                            <option value="-1" th:text="${'- Seleccione -'}">
                            </option>
                            <option th:each="pais: ${listaPaises}"
                                    th:selected="${distribuidora.pais != null and (pais.idpais == distribuidora.pais.idpais)}"
                                    th:value="${pais.idpais}"
                                    th:text="${pais.nombre}">
                            </option>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('pais')}"
                             th:errors="*{pais}"></div>
                    </div>

                    <div class="">
                        <a th:href="@{/distribuidoras/lista}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary"
                                th:text="${distribuidora.getIddistribuidora() == 0 ? 'Crear' : 'Actualizar'}"></button>
                    </div>
                </form>
        </div>
        </main>
    </div>
            <!-- /Contenido -->
    <div th:replace="fragments/footer.html :: footer(year='2022')"></div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>